<!DOCTYPE html>
<html>

<head>
    <title>MiniBlog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/all.min.css"></link>
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<div class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a asp-action="UserList" class="navbar-brand" bg-s><i class="fa-solid fa-screwdriver-wrench me-2"></i>MiniBlog - Admin Panel</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item ms-1">
                <a class="nav-link" asp-action="Index" asp-controller="Home">To App</a>
            </li>
            <li class="nav-item ms-1">
                <a class="nav-link" asp-action="CreateUser">Create a User</a>
            </li>
        </ul>
        <div class="float-end">
            <partial name="_AuthToolsPartial"/>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="card text-center text-success p-3 border-success border-1 mb-4 h5 ">@(ViewBag.Header ?? "Admin Panel")</div>
    @RenderBody()
</div>
</body>

</html>