<!DOCTYPE html>
<html>

<head>
    <title>MiniBlog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <script src="/lib/jquery/jquery.min.js"></script>
</head>

<body>
    <div class="container mt-5 mb-5">
        <div class="display-2"><a href="/" class="text-decoration-none link-dark">MiniBlog Application</a>
            <h5 class="text-muted fw-light mt-2">by Oleksandr Shuryha</h5>
        </div>
        @RenderBody()
    </div>

</body>

</html>