@model CommentaryDto
@{
   await Html.RenderPartialAsync("_ClientValidationScriptsPartial");
}
<form method="post" asp-page="SinglePost" asp-page-handler="AddComment" asp-route-postId="@ViewData["postId"]">
        <h5>Add new comment</h5>
        <div class="row">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="col mt-2">  
                <div class="form-group">
                    <label class="form-label" name="Username" >Username:</label>
                    <div class="h5">@Model.Username</div>
                </div>
            </div>
            <div class="w-100 d-md-none d-block"></div>
            <div class="col mt-2">
                <div class="form-group">
                    <label class="form-label" name="Email" >Email:</label>
                    <div class="h5">@Model.Email</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mt-2">
                <div class="form-group">
                    <label class="form-label" asp-for="Text">Commentary</label>
                    <textarea asp-for="Text" class="form-control" id="comment"></textarea>
                    <div class="form-text"><span class="text-danger pt-1" asp-validation-for="Text"></span></div>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Post comment</button>
            </div>
        </div>

    </form>
