<div class="text-end text-white-50">
    @if (@User.Identity?.IsAuthenticated ?? false)
    {
        <div>
            Logged as <span class="text-white">@User.Identity.Name</span>
            <br/>
            <a class="text-decoration-underline text-white" asp-action="LogOut" asp-controller="Account" asp-route-returnUrl="@Url.Action()">Log out</a>
        </div>
    }
    else
    {
        <a class="text-decoration-underline text-white" asp-action="Login" asp-controller="Account" asp-route-returnUrl="@Url.Action()">Log in</a>
    }
</div>