@model PostEditViewModel
@{
    await Html.RenderPartialAsync("_ClientValidationScriptsPartial");
}
<div class="row pt-5"> 
    <p class="display-6">@ViewData["title"]</p>
<form method="post" asp-action="SavePost" asp-controller="Home">
    @Html.HiddenFor( p => p.Post.PostId)
    @Html.HiddenFor( p => p.Post.DateTime)
    <div class="row mt-3">
        <div class="col">
            <label asp-for="Post.Header" class="form-label">Header:</label>
            <input asp-for="Post.Header" class="form-control">
            <small><span asp-validation-for="Post.Header" class="text-danger"></span></small>
        </div>
    </div>
     <div class="row mt-4">
        <div class="col">
            <label asp-for="Post.Text" class="form-label">Text:</label>
            <textarea rows="10" cols="200" asp-for="Post.Text" class="form-control"></textarea>
            <small><span asp-validation-for="Post.Text" class="text-danger"></span></small>
        </div>
    </div>
     <div class="row mt-3">
        <div class="col">
            <label asp-for="TagString" classs="form-label">Tags:</label>
            <input asp-for="TagString" class="form-control">
            <small><span asp-validation-for="TagString" class="text-danger"></span></small>
        </div>
    </div>
     <div class="row">
        <div class="col">
            <button class="btn btn-primary mt-4" type="submit">Publish</button>
        </div>
    </div>
</form>
 </div>
