@model MultiplePostsPageViewModel

<div class="row" id="posts row">
    @if (Model.TagName is not null)
    {
        <div class="display-6 mt-2">@Model.Posts.Count() posts with <strong>@Model.TagName</strong> tag</div>
    }
    else
    {
        <div class="display-6 mt-2">All posts</div>
    }
    <div class="col">
        @foreach (var p in Model.Posts ?? Enumerable.Empty<Post>())
        {
            await Html.RenderPartialAsync("_PostView", new PostPartialViewModel { Post = p, CommentsButton = true, CommentCount = @p.Commentaries.Count});
        }
    </div>
</div>
@if (Model.PaginationData != null)
{
    <div class="row mt-4" id="pagination-row">
        <div class="col">
            <pagination pagination-data="@Model.PaginationData"></pagination>
        </div>
    </div>
}