@using Blog.Application.Features.Account.DTO
@model UserSignUpDTO

<div class="col col-lg-8 mx-auto">
<div class="card py-4 px-lg-5 px-4">
<h4 class="text-center mb-3">Sign Up</h4>
    <form method="post" asp-action="SignUp" asp-route-returnUrl="@ViewData["returnUrl"]">
    <div class="alert alert-danger" asp-validation-summary="All" hidden="@ViewData.ModelState.IsValid"></div>
    <div class="form-group mb-2">
        <label class="mb-2" asp-for="Username">Username</label>
        <input asp-for="Username" class="form-control"/>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label class="mb-2" asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="Password" class="mb-2">Password</label>
        <input type="password" asp-for="Password" class="form-control"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="RepeatPassword" class="mb-2">Confirm password</label>
        <input type="password" asp-for="RepeatPassword" class="form-control"/>
        <span asp-validation-for="RepeatPassword" class="text-danger"></span>
    </div>
    <div class="text-center mt-4">
        <a class="btn btn-secondary mx-1" href="@ViewData["returnUrl"]">Back</a>
        <button type="submit" class="btn btn-primary mx-1">Sign Up</button> 
    </div>
</form>

</div>
</div>