@model AppErrorViewModel
<div class="card p-4 bg-danger bg-opacity-10">
    <div class="text-center h3 text-danger text">An Error Occured</div>
    <div class="text-danger mt-3 text-center">@Model.Message</div>
    <div class="text-center">
        <a class="btn btn-danger mt-5 text-center px-4" href="@Model.ReturnUrl">Back</a>
    </div>
</div>