@model string?

<div class="text-center">
   <div class="alert-danger alert">Access Denied. You may need to log in with a different account</div> 
   <a class="btn btn-primary" href="/">Homepage</a>
</div>


