<div *ngIf="isAdmin" class="btn-group float-end">
    <div class="btn btn-outline-secondary dropdown-toggle me-2" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="me-2">Options</span>
    </div>
    <ul class="dropdown-menu">
        <li class="dropdown-item">
            <button class="btn" (click)="onClickEdit()">Edit</button>
        </li>
        <li class="dropdown-item">
            <button class="btn" (click)="onClickDelete()">Delete</button>
        </li>
     </ul>
</div>