@model EditUserViewModel
@{
    await Html.RenderPartialAsync("_ClientValidationScriptsPartial");
}

<div class="col col-lg-8 mx-auto">
    <div class="card py-4 px-lg-5 px-4">
        <h4 class="text-center mb-3">Edit User</h4>
        <partial name="_UserFormPartial" model="Model"/>
    </div>
</div>