@page "/list"
@model ListModel
<div class="row" id="posts row">
    <div class="display-6 mt-md-1 mt-0 mx-md-auto text-center text-md-start">
    @if (Model.TagName != null && Model.PostsCount != null)
    {
        @: @Model.PostsCount post(s) with <strong class="text-lowercase">@Model.TagName</strong> tag
    }
    else
    {
        @:All posts
    }
    </div>
    <div class="col">
        @foreach (var p in Model.Posts)
        {
            await Html.RenderPartialAsync("_PostView", p);
        }
    </div>
</div>
@if (Model.PaginationData != null)
{
    <div class="row mt-4" id="pagination-row">
        <div class="col">
            <pagination pagination-data="@Model.PaginationData"></pagination>
        </div>
    </div>
}