@page "/edit/{postId:int?}"
@model EditorModel

@{
    await Html.RenderPartialAsync("_ClientValidationScriptsPartial");
}
<div class="row pt-5"> 
    <p class="display-6">@ViewData["title"]</p>
<form method="post" asp-page="Editor">
    @Html.HiddenFor( p => p.Post.Id)
    @Html.HiddenFor( p => p.Post.DateTime)
    <div class="row mt-3">
        <div class="col">
            <label asp-for="Post.Header" class="form-label">Header:</label>
            <input asp-for="Post.Header" class="form-control">
            <small><span asp-validation-for="Post.Header" class="text-danger"></span></small>
        </div>
    </div>
     <div class="row mt-4">
        <div class="col">
            <label asp-for="Post.Text" class="form-label">Text:</label>
            <textarea rows="10" cols="200" asp-for="Post.Text" class="form-control"></textarea>
            <small><span asp-validation-for="Post.Text" class="text-danger"></span></small>
        </div>
    </div>
     <div class="row mt-3">
        <div class="col">
            <label asp-for="TagString" classs="form-label">Tags:</label>
            <input asp-for="TagString" class="form-control">
            <small><span asp-validation-for="TagString" class="text-danger"></span></small>
        </div>
    </div>
         <div class="float-start">
            <a class="btn btn-primary mt-4" asp-page="List">Back</a>
        </div> 
        <div class=" float-end">
            <button class="btn btn-primary mt-4" type="submit" asp-route-asdraft="false">Publish</button>
        </div>
        @if(Model.Post.IsDraft ?? true)
            {
            <div class=" float-end">
                <button class="btn btn-secondary mt-4 me-3" type="submit" asp-route-asdraft="true">Save to Drafts</button>
            </div>
            }        
</form>
 </div>
